<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Green Byte Bistro</title>
</head>
<body>
    <%- include('./partials/nav') %>
  <h1>Restaurant</h1>
  <p>  <%= name %></p>
  <p><%= address%></p>
  <p> <%= phone %> </p>
</body>
</html>
